body {
  padding: 50;
  margin: 50;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 125%;
  color: #333;
  background: #998b0c;
}

header {
  background: #181213;
}

h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color: rgb(238, 238, 238);
  text-align: center;
  background: rgb(89, 10, 163);
}

h2 {
  font-size: 16px;
}
h3 {
  font-size: 16px;
}

a {
  color: #d21034;
}